Repository colevoss/release-test, changes with the labels that .github/labeler.yml gives for each.
All labels: kotlin-proj, ts-proj

.github/labeler.yml:

kotlin-proj:
  - changed-files:
    - any-glob-to-any-file: kotlin-proj/**

ts-proj:
  - changed-files:
    - any-glob-to-any-file: ts-proj/**

[no ci] Kotlin SDK Release 1.0.2
  kotlin-proj/package.json
Labels: kotlin-proj

awesome bug fix
  ts-proj/README.md
Labels: ts-proj

kt awful bug fix
  kotlin-proj/README.md
Labels: kotlin-proj

kt new feature
  kotlin-proj/test.md
Labels: kotlin-proj

[no ci] Kotlin SDK Release 1.1.0
  kotlin-proj/package.json
Labels: kotlin-proj

cleanup and concurrency
  .github/workflows/publish-release.yml
Labels: none

clean up and code docs
  .github/actions/validate-release/action.yaml
  .github/actions/validate-release/index.js
  .github/scripts/README.md
  .github/scripts/handle-prerelease.js
  .github/scripts/retag-release.js
  .github/scripts/validate-release.js
  .github/workflows/create-kotlin-prerelease.yml
  .github/workflows/create-typescript-prerelease.yml
Labels: none
