Repository colevoss/release-test, changes with the labels that .github/labeler.yml gives for each.
All labels: kotlin-proj, ts-proj

.github/labeler.yml:

kotlin-proj:
  - changed-files:
    - any-glob-to-any-file: kotlin-proj/**

ts-proj:
  - changed-files:
    - any-glob-to-any-file: ts-proj/**

ts demo 2
  ts-proj/README.md
  ts-proj/package.json
Labels: ts-proj

only push new tag
  .github/workflows/release-test.yml
Labels: none

ts demo 3
  ts-proj/README.md
  ts-proj/package.json
Labels: ts-proj

update changelog
  .github/scripts/retag-release.js
  .github/workflows/release-test.yml
Labels: none

1.1.1
  package-lock.json
  package.json
Labels: none

run npm version
  .github/workflows/release-test.yml
Labels: none

demo test 0.3.2 should commit version
  ts-proj/README.md
Labels: ts-proj

try minor bump
  ts-proj/README.md
Labels: ts-proj

push origin
  .github/workflows/release-test.yml
Labels: none

test for pushing npm version tags
  ts-proj/README.md
  ts-proj/package.json
Labels: ts-proj

checkout tag
  .github/workflows/release-test.yml
Labels: none

try from tag checkout
  ts-proj/README.md
  ts-proj/package.json
Labels: ts-proj

explicitly checkout main
  .github/workflows/release-test.yml
Labels: none

checking out main
  ts-proj/README.md
Labels: ts-proj

[no ci] Release 0.4.3
  package-lock.json
  package.json
Labels: none

cd to ts proj dir
  .github/workflows/release-test.yml
  ts-proj/package.json
Labels: ts-proj

This should work now (npm version in correct dir)
  ts-proj/README.md
Labels: ts-proj

[no ci] Release 0.4.4
  ts-proj/package.json
Labels: ts-proj

fix lang specificity
  .github/scripts/handle-release.js
  .github/scripts/retag-release.js
  .github/workflows/release-test.yml
  .github/workflows/ts-create-prerelease.yml
Labels: none

Test lang configs
  ts-proj/README.md
Labels: ts-proj

[no ci] Release 0.4.5
  ts-proj/package.json
Labels: ts-proj

release instructsiona nd file name fixes
  .github/kotlin-release-config.yml
  .github/scripts/handle-release.js
  .github/typescript-release-config.yml
  .github/workflows/ts-create-prerelease.yml
Labels: none

blah
  ts-proj/README.md
Labels: ts-proj

fix tagging
  .github/workflows/ts-create-prerelease.yml
Labels: none

blash
  ts-proj/README.md
Labels: ts-proj

fix setting new tag
  .github/workflows/ts-create-prerelease.yml
Labels: none

fix filename again
  .github/workflows/ts-create-prerelease.yml
Labels: none

only running input
  .github/scripts/handle-release.js
Labels: none

force change
  .github/scripts/handle-release.js
  .github/workflows/ts-create-prerelease.yml
Labels: none

[no ci] Release 0.4.6
  ts-proj/package.json
Labels: ts-proj

kotlin prerelease
  .github/workflows/create-kotlin-prerelease.yml
  kotlin-proj/package.json
Labels: kotlin-proj

demo 1
  kotlin-proj/README.md
Labels: kotlin-proj

Update Prerelease name
  .github/scripts/handle-release.js
  kotlin-proj/README.md
Labels: kotlin-proj

Put instructions in details dropdown
  .github/scripts/handle-release.js
  kotlin-proj/README.md
Labels: kotlin-proj

fix more publish instructions
  .github/scripts/handle-release.js
  kotlin-proj/README.md
Labels: kotlin-proj

more instruction fixes
  .github/scripts/handle-release.js
  kotlin-proj/README.md
Labels: kotlin-proj

Set up kotlin publish
  .github/workflows/release-test.yml
Labels: none

change for kotlin publish
  kotlin-proj/README.md
Labels: kotlin-proj

[no ci] Kotlin SDK Release 1.0.1
  kotlin-proj/package.json
Labels: kotlin-proj

one more kt test
  kotlin-proj/README.md
Labels: kotlin-proj
