Repository colevoss/release-test, changes with the labels that .github/labeler.yml gives for each.
All labels: kotlin-proj, ts-proj

test ts proj update
  ts-proj/README.md
Labels: ts-proj

release config
  .github/release-config.yml
Labels: none

tag action
  .github/workflows/merge.yml
  .github/workflows/pr.yml
Labels: none

update
  .github/workflows/merge.yml
Labels: none

use actual value
  .github/workflows/merge.yml
Labels: none

use ref_name
  .github/workflows/merge.yml
Labels: none

try generated release notes
  .github/workflows/merge.yml
Labels: none

fix ref
  .github/workflows/merge.yml
Labels: none

actually fix ref
  .github/workflows/merge.yml
Labels: none

use permissions
  .github/workflows/merge.yml
Labels: none

trying pr
  ts-proj/package.json
Labels: ts-proj

update release file name
  .github/release.yml
  .github/workflows/merge.yml
Labels: none

ts change
  ts-proj/README.md
Labels: ts-proj

retry custom config
  .github/release-config.yml
  .github/workflows/merge.yml
  ts-proj/README.md
Labels: ts-proj

retry custom config again
  .github/workflows/merge.yml
Labels: none

create release
  .github/workflows/merge.yml
  ts-proj/README.md
Labels: ts-proj

git version
  .github/workflows/merge.yml
Labels: none

get previous tag
  .github/workflows/merge.yml
Labels: none

fetchdepth
  .github/workflows/merge.yml
Labels: none

log all tags
  .github/workflows/merge.yml
Labels: none

use creator date
  .github/workflows/merge.yml
Labels: none

actually use creator date
  .github/workflows/merge.yml
Labels: none

yeah
  .github/workflows/merge.yml
Labels: none

better changelog
  ts-proj/README.md
  ts-proj/package.json
Labels: ts-proj

kt release workflow
  .github/workflows/release-kt.yml
  .github/workflows/release-ts.yml
Labels: none

update release configs
  .github/kt-release-config.yml
  .github/ts-release-config.yml
  .github/workflows/release-kt.yml
  .github/workflows/release-ts.yml
Labels: none

kt updates
  kotlin-proj/README.md
Labels: kotlin-proj

updates 2
  kotlin-proj/README.md
Labels: kotlin-proj

update syeah
  ts-proj/README.md
Labels: ts-proj

kt updates yeah
  kotlin-proj/README.md
Labels: kotlin-proj

yeah yeah yeah
  ts-proj/README.md
Labels: ts-proj

update changelog generator
  .github/kt-release-config.yml
  .github/ts-release-config.yml
Labels: none

demo
  ts-proj/README.md
Labels: ts-proj

kt demo
  kotlin-proj/README.md
Labels: kotlin-proj

demo two
  kotlin-proj/test.md
Labels: kotlin-proj

testing create prerelease
  .github/workflows/release-ts.yml
  .github/workflows/ts-create-prerelease.yml
  README.md
  cut-release.yml
Labels: none

push tag
  .github/workflows/ts-create-prerelease.yml
Labels: none

fix commit
  .github/workflows/ts-create-prerelease.yml
  ts-release.yml
Labels: none

fix tag name
  .github/workflows/ts-create-prerelease.yml
Labels: none

test for prev tag
  .github/workflows/ts-create-prerelease.yml
Labels: none

.github/labeler.yml:

kotlin-proj:
  - changed-files:
    - any-glob-to-any-file: kotlin-proj/**

ts-proj:
  - changed-files:
    - any-glob-to-any-file: ts-proj/**
